/* FOOTER */
footer {
    background-color: #333;
    padding: 80px 0;
    text-align: center;
    color: #fff;
}

footer .soc-icons-footer a {
    color: #fff;
    padding: 0 20px;
    font-size: 5em;
    font-weight: 100;
}

footer .footer-legal {
    padding: 40px 0 0;
    font-size: 0.8em;
}

footer .footer-legal i {
    padding-right: 18px;
    font-size: 0.8em;
}
