@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap");

/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}  


    
html, body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', Arial, Verdana, sans-serif!important;
    font-size: 16px;
    background-color:#fff!important;
}
    
    
img {
    width:100%;
    position: relative;
}

td {
    vertical-align: top;
}
    
.hero {
    background-size:cover;
    height:60%;
    position:relative;
    background-attachment:scroll;
}

section, footer {
    position: relative;
}
    
.spacing-section {
    padding:120px 0;
}

.spacing-txt {
    padding-bottom:60px;
}


/* FONTS */
h1 {
    font-family: 'Montserrat', Arial, Verdana, sans-serif!important;
    font-size: 4.6em;
    padding: 20px 0;
    font-weight: 400;
    line-height: 1.2em;
}

h1.bold, h2.bold {
    text-transform: uppercase;
    font-weight: 700;
}

h2 {
    font-family: 'Montserrat', Arial, Verdana, sans-serif!important;
    font-size: 3em;
    padding: 20px 0;
    line-height:1.4em;
    text-transform: none;
    font-weight: 400;
    line-height: 1.2em;
}

p {
    font-size: 1em;
    padding: 20px 0;
    line-height: 2.4em;
}

ul {
    margin:0 0 10px 40px;
}

li {
    font-size:1em;
    padding:0 0 20px;
    list-style: circle;
    line-height: 2.4em;
}
    
b, strong {
    font-weight: 700;
}

i {
    font-style: italic;
}

.label {
    text-transform: uppercase;
    font-size:0.8em;
    font-weight: 800;
}

.txt-white {
    color: #fff;
}
    
.txt-white a {
    color: #fff;
    text-decoration: underline;
}
    
.txt-white a:hover {
    text-decoration: none;
}

.txt-black {
    color:#333;
}

.txt-gray {
    color: #999;
}

a {
    text-decoration: none;
}

.nowrap {
    white-space: nowrap;
}


/* CONTAINERS */

.container-full, .container-compact, .container-limited {
    width:100%;
    margin:0 auto;
    position:relative;
}

.container-page, .container-txt {
    width:80%;
    margin:0 auto;
    position:relative;
}


/* GRIDS */

.grid-2by, .grid-3by, .grid-4by, .grid-6by, .grid-imgby, .grid-cards {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.grid-2by .card .card-img, .grid-3by .card .card-img, .grid-4by .card .card-img, .grid-6by .card .card-img, .grid-cards .card .card-img {
    height:500px;
}


/* POSITIONING */

.centered {
    margin:0 auto;
    text-align: center;
}

.abs-centered {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    margin:0 auto;
    text-align: center;
}
    
.right {
    text-align: right;
}


/* VISUAL STYLING */
.overlay {
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgba(0,0,20,0.5);
    transition: all 0.5s ease-in-out;
}

.bg-blue {
    background-color:rgba(3,24,51,1);
}

.bg-green {
    background-color:rgba(73,151,51,1);
}

.bg-white {
    background-color:#fff;
}

.bg-gray {
    background-color: #ddd;
}

.bg-black {
    background-color: #000;
}


/* BUTTONS */
.button {
    padding:40px 80px;
    color:#fff;
    font-size: 1em;
    font-weight: 800;
    text-decoration: none;
    white-space: nowrap;
    position: relative;
}
.button-padding {
    padding:80px 0;
}

.btn-blue {
    background-color: rgba(5,159,195,1);
    border:rgba(5,159,195,1);
}

.btn-white {
    background-color: #fff;
    color: #059fc3!important;
    border:2px solid #fff;
}

.bg-blue .btn-white {
    color: rgba(3,24,51,1)!important;
}

.bg-green .btn-white {
    color: rgba(73,151,51,1)!important;
}

.btn-ghost {
    border:2px solid #fff;
}
    
.button-text {
    padding-left:20px;
}
    
.button-disc {
    position: relative;
    background-color:#059fc3;
    width:150px;
    height:150px;
    border-radius:100%;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    transition: all 0.5s ease-in-out;
}

.button-disc:hover {
    transform: translateY(-10px);
}
    
.button-disc i {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size:1.5em;
    color:#fff;
}
    
.button-disc i a {
    color:#fff;
}
    
a.button {
    color:#fff;
    text-decoration:none;
    transition: 0.5s ease;
    border-radius: 3px;
}

.tab-menu {
    padding-top:42px;
    border-bottom:3px solid #333;
}

.btn-tab-container {
    position: absolute;
    left:50%;
    transform: translate(-50%, -50px);
    font-size:1.8em;
    line-height: 0;
    text-transform: uppercase;
}
.btn-tab {
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border:3px solid #333;
    border-bottom:none;
    color:#333;
    padding:25px 50px 22px;
}

.btn-tab i {
    margin-left:5px;
    font-size:1em;
}

a.btn-tab {
    color:#333;
    transition:none;
}
    
a {
    color:#059fc3;
    font-weight:700;
}

a:hover.button{
    opacity:0.6;
}

a:hover.btn-tab {
    opacity:1;
}

td a div.button{
    padding:15px 0;
    margin:20px 0 0;
}




/* CARDS */
.card {
    position: relative;
    background-color:#fff;
    box-shadow: 6px 6px 20px rgba(0,0,0,0.25);
    margin:20px 40px;
    overflow: hidden;
}

.card-img {
    position: relative;
    background-size:cover;
    background-position: 50% 50%;
}

.card h1, .card h2, .hover-content h1, .hover-content h2 {
    padding:60px 60px 40px;
}
    
.card p, .hover-content p {
    padding:60px 60px 200px;
}

.card .button, .imgby-copy .button, .hover-content .button {
    position:absolute;
    width: 100%;
    bottom:0;
    padding:40px 0px 40px 40px;
    font-size:2.4em;
    border-radius: 0;
}

.card .button span, .imgby-copy .button span, .hover-content .button span {
    position:absolute;
    right:80px;
}

.card.nobutton p {
    padding-bottom:60px;
}

/* RESPONSIVE YOUTUBE */
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
    
.videoCopy {
    padding: 0 40px;
}
/*    
.quote-container {
    width:90%;
    max-width: 1200px;
    margin:0 auto;
    padding:100px 0;
}

.quote {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: auto;
}

.quote-img {
    background-size:cover;
    border-radius: 1000px;
    background-position: 50% 50%;
    height:200px;
}

.quote-text {
    padding:0 0 0 50px;
}

.quote-text h1 {
    text-indent: -12px;
    font-style: italic;
    line-height: 1.2em;
}

.quote-text h2 {
    text-transform: uppercase;
    font-size: 1.2em;
}

.quote-blue {
    color:#fff;
}

.quote-blue .quote-img {
 	border: 5px solid #fff; 
}

.quote-blue h1 {
    color:#fff;
  font-size:1.4em;
}

.quote-blue h2 {
      color:#fff;
}
*/

/* IMGBY */
.imgby-img {
    width:100%;
    height:auto;
    min-height:600px;
    background-size: cover;
    position: relative;
}
 
.imgby-copy {
    width:100%;
    position: relative;
    overflow: hidden;
    padding:10px 0 0;
}

/* PATHS */
.path {
    position: relative;
    background-size: cover;
    height:800px;
}

.grid-cards .path {
    height:800px;
}
    
.hover-container {
    overflow: hidden;
}
    
.hover-headline {
    position: absolute;
    padding:60px;
}
    
.hover-headline h1, .hover-headline h2 {
    position: relative;
    margin:0!important;
    padding:0!important;
    color:#fff;
    top:0px;
    transition: .5s ease;
}
    
.hover-content {
    position: absolute;
    bottom:0;
    left:0;
    background-color:rgba(255,255,255,0.9);
    width: 100%;
    height:100%;
    opacity: 0;
    transition: .5s ease;
}

.hover-content p {
    font-size:2.2em;
    line-height: 1.4em;
}

.overlay, .hover-headline {
    opacity: 1;
    transition: .5s ease;
}
    
.hover-container:hover .overlay, .hover-container:hover .hover-headline {
    opacity: 0;
}

.hover-container:hover .hover-headline h1 {
    top:100px;
}

.hover-container:hover .hover-headline h2 {
    top:100px;
}
    
.hover-container:hover .hover-content {
    opacity: 1;
}


/* NAV BAR */
.navbar {
    display: grid;
    grid-template-columns: auto auto;
    background-color:rgba(255,255,255,0.8) ;
    position:fixed;
    z-index:1000;
    top:0;
    left:0;
    width:100%;
    height:120px;
    margin:0px;
    padding:0px;
    box-shadow:0px 1px 2px 1px rgba(0,0,0,0.2);
    font-size:2em;
}

.navbar-logo {
    position: relative;
}

.navbar-logo img {
    position: relative;
    width: auto;
    height:100px;
    margin-left:20px;
    top:50%;
    transform: translateY(-50%);
}

.navbar-items {
    position: absolute;
    right:0;
}

.navbar-list {
    margin-top: 120px;
    display: none;
}

.navbar-items a {
    display:block;
    font-weight:500;
    color:#333;
    text-align:center;
    padding:60px;
    height:100%;
    text-decoration:none;
    background-color:#fff;
    font-size:1.5em;
    border-top:2px solid #999;
}
 
.navbar-items a:hover {
    background-color:rgba(0,0,0,0.5);
    color: #fff;
}

.hamburger {
    position:absolute;
    right:0;
    display:block;
    width:120px;
    height:120px;
    text-align: right;
}
.hamburger:hover, .navbar-items:hover .hamburger {
    background-color:#fff;
}

.hamburger:hover .navbar-list, .navbar-items:hover .navbar-list {
    display: block;
}

.hamburger i {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/* FOOTER */
footer {
    background-color:#333;
    padding:80px 0;
    text-align:center;
    color:#fff;
}

footer .soc-icons-footer a {
    color:#fff;
    padding:0 20px;
    font-size: 5em;
    font-weight:100;
}

footer .footer-legal {
    padding:40px 0 0;
    font-size: 0.8em;
}

footer .footer-legal i {
    padding-right:18px;
    font-size: 0.8em;
}

/* RTB */
.rtb-container {

}
.rtbs {
    margin:40px 0 0;
}
.rtb {
    padding: 30px;
}

.rtb p {
    padding-top:0;
}
.rtb-icon {
    background-color:#fff;
    padding:10px;
    width:160px;
    height:160px;
    margin:0 auto;
    border-radius: 100%;
}

.rtb-icon i {
    color:rgba(3,24,51,1);
    font-size:5em;
    position: relative;
    top:50%;
    transform: translateY(-50%);
}

.txt-black .rtb-icon {
    background-color:#333;
}

.txt-black .rtb-icon i {
    color:#fff;
}

/* GALLERY */

.gallery {
    width:80%;
    margin: 0 auto;
}

.gallery-copy {
    margin:30px auto;
}

.gallery-img-large img {
    transition: all 0.5s ease-in-out;
}

.gallery-img-large:hover img {
    transform: scale(1.15);
}

.gallery-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 40px;
}

.gallery-img-large, .gallery-grid div {
    padding:30px;
    box-shadow: 3px 3px 9px 3px rgba(0,0,0,0.2);
    overflow:hidden;
}

.gallery-grid div img {
    transition: all 0.5s ease-in-out;
}

.gallery-grid div:hover img {
    transform: scale(1.25);
}

/* PROFILES */
.profile-hero {
    height:60%;
}

.profile-container {
    top:-160px;
}

.profile-pic {
    width:40%;
    margin:0 auto;
    position:relative;
    transform: translate(-20px,0);
}

.profile-pic img {
    border:20px solid #fff;
    border-radius:100%;
}

/* RESUME */
#resume {
    display:none;
}

#resume h1 {
    margin:0 0 20px;
    padding:0;
}

#resume h2 {
    margin:60px 0 20px;
    padding:0;
}

#resume p {
    margin:0 0 30px;
    padding:0;
}

/* OTHER ITEMS */
.contributors {
    position: absolute;
    bottom:-50px;
    right:2%;
    text-align:right;
}

.imgby-img .contributors {
    bottom:2%;
    right:2%;
}

.contributors div {
    display: inline-block;
}

.contributors .button-disc {
    border:10px solid #fff;
}

    
/* MEDIA */

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width :320px) {
.dt-only {
	display:none;
}

    
/* Small screens ----------- */
@media (min-width: 768px) {

}
    
/* Laptops - medium screens ----------- */
@media only screen 
and (min-width :1024px) {
.hero {
    height:100%;
    background-attachment: fixed;
}
    
.hero.short {
    height:60%;
}
.profile-hero {
    height:70%;
}
.spacing-section {
    padding:60px 0;
}
.spacing-txt {
    padding-bottom:30px;
}
    
/* FONTS */
h1 {    
    font-size: 3em;
}

h2 {
    font-size: 1.5em;
    line-height:1.4em;
}

p {
    line-height: 1.4em;
}
li {
    padding:0 0 10px;
    line-height: 1.6em;
}
    
/* POSITIONING */

    
/* CONTAINERS */
.container-full, .container-limited, .container-compact, {
    width:96%; 
}
.container-page, .container-limited, .container-compact {
    max-width: 1200px;
}
.container-txt, .container-compact {
    max-width: 700px;
}
    
/* GRIDS */
.grid-2by, .grid-imgby {
    grid-template-columns: 1fr 1fr;
}
.grid-3by {
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-4by {
    grid-template-columns: 1fr 1fr;
}
.grid-6by {
    grid-template-columns: 1fr 1fr 1fr;
}
.gallery-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.grid-2by .card .card-img, .grid-3by .card .card-img, .grid-4by .card .card-img, .grid-6by .card .card-img, .grid-cards .card .card-img {
    height:300px;
}
.imgby-img {
    min-height:400px;
}
.grid-path {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}
.grid-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
    
/* BUTTONS */
.button {
    padding:20px 40px;
    font-size: 1em;
}
.button-padding {
    padding:40px 0;
}
.tab-menu {
    padding-top:42px;
    border-bottom:2px solid #333;
}
.btn-tab-container {
    transform: translate(-50%, -25px);
    font-size:0.8em;
}
.btn-tab {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding:15px 30px 12px;
    border-width: 2px;
}
.button-disc {
    width:60px;
    height:60px;
}

/* NAVBAR */
.navbar {
    font-size:1.2em;
    height:80px;
}
.navbar-items a {
    padding:30px;
    font-size:1em;
    border-top:none;
}
.navbar-logo {
    
}
.navbar-logo img {
    height:70px;
}
.navbar-list {
    margin-top:0px;
    display: block;
}
.navbar-items a {
    display:inline-block;
    background-color:rgba(0,0,0,0);
}
.navbar-items a:hover {
    background-color:rgba(0,0,0,0.5);
    color: #fff;
}
.hamburger {
    display:none;
}
    
/* CARDS */
.card {
    box-shadow: 3px 3px 10px rgba(0,0,0,0.25);
    margin:20px;
    border-radius: 3px;
}
.card h1, .card h2, .hover-content h1, .hover-content h2 {
    padding:30px 30px 0px;
}
    
.card p, .hover-content p {
    padding:30px 30px 80px;
}

.card .button, .imgby-copy .button, .hover-content .button {
    padding:20px 0px 20px 20px;
    font-size: 1em;
}

.card .button span, .imgby-copy .button span, .hover-content .button span {
    right:40px;
}

.card.nobutton p {
    padding-bottom:30px;
}
    
.imgby-img {
    min-height:400px;
}
.imgby-copy h1, .imgby-copy p {
    padding-left:40px;
    padding-right:40px;
}
    
/* GALLERY */
.gallery {
    width:96%;
    max-width: 900px;
    margin: 0 auto;
}
.gallery-grid {
    grid-gap: 20px;
}
.gallery-img-large, .gallery-grid div {
    padding:15px;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.25);
}

/* PATH */
.path {
    height:350px;
}
.grid-cards .path {
    height:350px;
}

.hover-headline {
    position: absolute;
    padding:30px;
}
.hover-content p {
    font-size:0.9em;
    line-height: 1.4em;
}
    
/* RTB */
.rtb-icon {
    width:60px;
    height:60px;
}

.rtb-icon i {
    font-size:2.4em;
}

/* RESUME */
#resume h1 {
    margin:0 0 10px;
}

#resume h2 {
    margin:40px 0 10px;
}

#resume p {
    margin:0 0 10px;
}
    
/* PROFILES */
.profile-container {
    top:-80px;
}
    
/* OTHERS */
.contributors {
    bottom:-30px;
}

.contributors .button-disc {
    border:5px solid #fff;
}
.dt-only {
	display:block;
}

/* FOOTER */
footer {
    padding:40px 0;
}

footer .soc-icons-footer a {
    padding:0 5px;
    font-size: 2em;
}

footer .footer-legal {
    padding:20px 0 0;
    font-size: 0.8em;
}

footer .footer-legal i {
    padding-right:0px;
}
    
}
    
@media (min-width: 1280px) {
.grid-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}
.grid-4by {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid-6by {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
}
    
@media (min-width: 1600px) {
.grid-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}
}