html, body {
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
    font-family:stans-serif;
    font-size:16px;
}

/*THIS IS MY NAV TAG  */

nav {
    background-color:gray;
    margin:0;
    
}

nav div ul {
    margin:0;
    padding:0;
    text-align:right;
}


nav div ul li {
    color:white;
    display:inline-block;
}

nav div ul a {
    color:black;
    display:block;
    padding:1em;
    text-decoration:none;
    transition:all 0.5s;
}

nav div ul a:hover {
    background-color:blue;
    color:white;
   
}
/*THIS IS MY HEADER */

header {
   
    background-image:url(https://d.newsweek.com/en/full/1176971/obesity-meme.png?w=1600&h=900&q=88&f=0c8293185b292dc0d5eb47eace629bd1);
        
    height:50%;
    background-size:cover;
    background-position:center;

}
header h1, header h3 {
    margin:0;
    text-align:center;

}

header div {
    height:100%;
    position:relative;
}

.container-text {
    position:relative;
    top:50%;
   
}

.text-white {
    color:blue;
}

.overlay {
    background-color:#00006666;
}
a:visited {
color: red;
}
a:active {
color:green;
}
input: {
background-color: green;
}
@media only screen and (min-width: 500px) {
  .gridby2{
  display:grid;
    grid-template-columns:1fr 1fr;
   
  }
  .gridby3{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
   
}
  .gridby4{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;

  }
  .button {
  background-color: black;
    
  }
  .button:hover {
  background-color: aquamarine;
  }
img {
  
  }
  .gridimage {
    background-image: url("https://static.wixstatic.com/media/bb1bd6_5798c09022ba43249a38bfea9be1db34~mv2.png/v1/fill/w_1000,h_571,al_c,usm_0.66_1.00_0.01/bb1bd6_5798c09022ba43249a38bfea9be1db34~mv2.png");
    background-size: contain;
  height: 200px;
    background-repeat:no-repeat;
  }
  