html {
  height: 100%;
}

nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
}

.friends-list-container {
    display:grid;
    background-color:#979DAC;
}

.friends-grid-2by {
    display:grid;
    grid-template-columns: 1fr 3fr;
    border-bottom: 1px solid black;
    min-height: 5em;
}

.friends-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 50px;
    margin:25px;
    margin-top: 11em;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 23px;
}

.friend {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.flex {
    display:flex;
    justify-content: center;
}

body {
    height:100%;
}

#friends-list-title {
  background-color: #312244;
  color: white;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.invite-title {
  background-color: #272640;
  color:white;
  text-align:center;
  height:8%;
}

.friends-grid {
  height:100%;
}

.friends-grid aside {
  height:100%;
}

.friends-list-container {
  height:100%;
  margin-bottom: 7em;
}

.invite-list {
  height:100%;
}

.invite-names {
  background-color:#979DAC;
  margin:0;
}

.invite-names div {
  border-bottom:1px solid black;
  height: 6.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.avatar {
  border-right: 1px solid black;
  min-width: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.friends-header {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.leaderboard {
  background-color:#979DAC;
  margin:25px;
  display: grid;
  margin-top: 11em;
}

.leaderboard-header {
  background-color:#312244;
  color:white;
  text-align:center;
  font-size:25px;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

.leaderboard-rank-title {
  min-width: 4.34em;
  font-size: 23px;
}

.leaderboard-score-title{
  font-size: 23px;
}

.leaderboard-rank {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  min-width: 5em;
}

.leaderboard-name {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
  padding-right: 3em;
}

.leaderboard-name-title {
  min-width: 8.7em;
  font-size: 23px;
}

.name-spacing {
  min-width: 7em
}

.leaderboard-score {
  text-align: center;
  font-size: 20px;
}

.leaderboard-body {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.leaderboard-row {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  border-bottom: 1px solid black
}

.table-border {
  border-right: 1px solid black;
}

html body {
  margin: 0px;
  height: 100%;
  background-color: #434343
}

.nav-grid {
  display: grid;
  grid-template-columns: 3fr 1fr
}

.nav-bar-left {
  background-image: url("galaxy.jpg");
  background-size: cover;
}

.emblem-container {
  padding: 10%;
  background-image: url("infinite.jpg");
  background-size:cover;
  background-position: center;
  grid-row: 1 / 5;
}

.emblem {
  height: 100%;
  width: 100%;
 
}

.nav-bar-right {
  background-color: #312244;
  display: grid;
  padding: 1em;
}

#login-button {
  display: inline-block;
  background-color: #303D51;
  height: 30px;
  border-radius: 10px;
  margin-right: 5px;
}

#login-button:hover {
  background-color: #C4BBCA;
}

#setting-button {
  display:inline-block;
  background-color: #C4BBCA;
  height:30px;
  border-radius: 10px;
  margin-left: 5px;
}

#setting-button:hover {
  background: #303D51;
}

.buttons-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 3em;
  text-align: center;
}

.buttons-left ul {
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
}

.buttons-left ul li a {
  display: inline-block;
  height: 35px;
}

.buttons-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 1em;
}

#friends-button {
  display:inline-block;
  background:#C4BBCA;
  border-bottom-right-radius:10px;
  width: 100%;
  min-width: 5em;
  border-left: 1px solid black;
}
#friends-button:hover {
  background: #104E65;
}
#leaderboard-button {
  display:inline-block;
  background:#C4BBCA;
  width: 100%;
  border-left: 1px solid black; 
}
#leaderboard-button:hover {
  background: #104E65;
}
#page-button {
  display:inline-block;
  background:#C4BBCA;
  border-bottom-left-radius:10px;
  width: 100%;
  min-width: 5em;
  border-right: 1px solid black;
}
#page-button:hover {
  background: #104E65;
}
.emblem-buttons-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 9em;
}
.button-text {
  text-decoration: none;
}

.text-left {
  color: black;
  padding-top: 15px;
}

.text-right {
  color: white;
  text-align: center;
  padding-top: 8px;
}

#search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}

.search-box {
  text-align: center;
  width: 100%;
  border-radius: 6px;
}

.welcome-text {
  color:#ffffff;
  font-size: 24px;
  margin-left: 2em;
}

.welcome-text:hover {
  color: #373982;
}

.home-grid {
  display: grid;
  margin: 11em 2em 1em 2em;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10%;
}

.home-right {
  min-width: 10em;
}

.news-feed {
  min-width: 14em;
}

.news-feed-header {
  background-color: #312244;
  font-size: 24px;
  color: white;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-feed-body {
  background-color: #979DAC;
}

.news-items {
  display: grid;
  grid-template-columns: 1fr 3fr;
  border-bottom: 1px solid black;
}

.news-feed-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-image-container {
  background-color: azure;
  height: 7em;
}

.top-players-board {
  margin: 1em 0 1em 0;
}

.top-players-header {
  background-color: #312244;
  font-size: 24px;
  color: white;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-players {
  background-color: #979DAC;
}

.player {
  display: grid;
  grid-template-columns: 1fr 6fr 2fr;
  border-bottom: 1px solid black;
  font-size: 20px;
}

.player-score {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.avatar-img {
  height: 30%;
  width: 30%;
  margin-left: 1em;
  min-width: 3em;
}

.leaderboard-bar {
  background-color: #979DAC;
  width: 100%;
  height: 2em;
}

.arrow-icon {
  height: 100%;
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: darkslategrey;
}

#first {
  color: gold;
}

#second {
  color: silver;
}

#third {
  color: chocolate;
}

.player-name {
  display: flex;
  align-items: center;
}

.player-points {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid black
}

footer {
  background-color: #312244;
  padding:1em;
  left: 0;
  right: 0;
  margin-top: 6em;
  bottom: 0px;
  position: fixed;
}

footer div p{
  color:#ffffff;
}