

/* SLIDER */
.rslides {
  position:relative;
  list-style:none;
  overflow:hidden;
  width:100%;
  padding:0;
  margin:0;
  }

.rslides li {
  -webkit-backface-visibility:hidden;
  position:absolute;
  display:none;
  width:100%;
  left:0;
  top:0;
  }

.rslides li:first-child {
  position:relative;
  display:block;
  float:left;
  }

.rslides img {
  display:block;
  height:auto;
  float:left;
  width:100%;
  border:0;
  }

.centered-btns_tabs,
.transparent-btns_tabs,
.large-btns_tabs {
  position:absolute;
	bottom:20px;
	right:50%;
    transform: translateX(50%);
	z-index:100;
  margin-top:0px;
  text-align:center;
  }

.centered-btns_tabs li,
.transparent-btns_tabs li,
.large-btns_tabs li {
  display:inline;
  float:none;
  _float:left;
  *float:left;
  margin-right:5px;
  }

.centered-btns_tabs a,
.transparent-btns_tabs a,
.large-btns_tabs a {
  text-indent:-9999px;
  overflow:hidden;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  border-radius:15px;
  background:#ccc;
  background:rgba(0,0,0, .2);
  display:inline-block;
  _display:block;
  *display:block;
  -webkit-box-shadow:inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow:inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow:inset 0 0 2px 0 rgba(0,0,0,.3);
  width:24px;
  height:24px;
  }

.slider-hero .centered-btns_tabs a,
.slider-hero .transparent-btns_tabs a,
.slider-hero .large-btns_tabs a {
    background:rgba(255,255,255, .2);
}

.transparent-btns_nav {
  z-index:3;
  position:absolute;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  top:0;
  left:0;
  display:block;
  background:#fff; /* Fix for IE6-9 */
  opacity:0;
  filter:alpha(opacity=1);
  width:48%;
  text-indent:-9999px;
  overflow:hidden;
  height:91%;
  }

.transparent-btns_nav.next {
  left:auto;
  right:0;
  }

.large-btns_nav {
  z-index:3;
  position:absolute;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  opacity:0.6;
  text-indent:-9999px;
  overflow:hidden;
  top:0;
  bottom:0;
  left:0;
  background:#000 url("../images/arrows.gif") no-repeat left 50%;
  background-size:120px;
  width:60px;
  }

.large-btns_nav:active {
  opacity:1.0;
  }

.large-btns_nav.next {
  left:auto;
  background-position:right 50%;
  right:0;
  }

.centered-btns_nav:focus,
.transparent-btns_nav:focus,
.large-btns_nav:focus {
  outline:none;
  }


.centered-btns_here a,
.transparent-btns_here a,
.large-btns_here a {
  background:#fff;
  background:rgba(255,255,255,0.8);
  }

.slider-hero .centered-btns_here a,
.slider-hero .transparent-btns_here a,
.slider-hero .large-btns_here a {
  background:#fff;
  background:rgba(255,255,255,0.8);
  }

.slider {
    width:90%;
    max-width:1200px;
    margin:0 auto;
    padding:50px 10px;
}

.slider-hero {
    position: relative;
    width:100%;
    height:100%;
}

.slider-hero-padding {
    padding-top:120px;
}

.slider-hero .rslides_container, .slider-hero .rslides, .slider-hero .rslides li, .slider-hero .slide{
    position: relative;
    width:100%;
    height:100%;
}
    
.rslides_container {
    box-shadow: 3px 3px 10px rgba(0,0,0,0.25);
}

.slide-img {
    position: relative;
    width:100%;
    height:500px;
    background-size:cover;
}
    
.slide-img-hero {
    width:100%;
    height:100%;
    background-size:cover;
    background-attachment: scroll;
}
    
.slide-copy {
    width:50%;
    position: relative;
    padding: 0;
}
    
.slide-copy .button {
    position:absolute;
    width: 100%;
    bottom:0;
    padding:20px;
}
    
.slide-copy h1, .slide-copy p {
    padding:10px 40px;
}

.slide .grid-imgby-container{
    width:100%;
    max-width:auto;
}
    
/* MEDIA */

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width :320px) {

}
/* Desktops and laptops ----------- */
@media only screen 
and (min-width :1024px) {
.slide-img-hero {
    background-attachment: fixed;
}
.slider-hero-padding {
    padding-top:0px;
}
.large-btns_nav {
    background-size:auto;
    width:38px;
}
.large-btns_tabs a {
  width:12px;
  height:12px;
  }
}